@tailwind base;
@tailwind components;
@tailwind utilities;

.armRotateRight {
  rotate: -30deg;
  transformorigin: left-bottom;
  right: -86px;
}

.armRotateLeft {
  rotate: 30deg;
  transformorigin: left-bottom;
  right: 0px;
}

.legRotateLeft {
  rotate: 600deg;
  transformorigin: right-bottom;
  right: -67px;
  top: 258px;
}

.legRotateRight {
  rotate: -60deg;
  transformorigin: right-bottom;
  right: -20px;
  top: 258px;
}

.btn {
  width: 100%;
  border: 3px solid black;
  background: none;
  aspect-ratio: 1/ 1;
  font-size: 2.5rem;
  text-transform: uppercase;
  padding: 0.5rem;
  font-weight: bold;
  cursor: pointer;
  color: black;
}

.btn.active {
  background-color: hsl(200, 100%, 50%);
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: hsl(200, 100%, 75%);
}
